* {
    --background-color: #0f100f;
    --background-color-2: #191A19;
    --text-color: #e7e7ee;
    --text-color-2: #e7e7ee;
    --accent-color-success: #ddee99;
}

body {
    background-color: var(--background-color);
    padding: 2rem;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
    background-color: var(--accent-color-success);
    color: var(--background-color-2);
    outline: none;
    border-width: 0;
    transition: all 0.2s;
}

button[disabled = false]:hover {
    filter: brightness(0.8);
    transform: translateY(2px);
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
}

.wrapper {
    --padding: 2rem;
    width: calc(100% - var(--padding) * 2);
    display: flex;
    justify-items: center;
    margin-bottom: 2rem;
    padding: var(--padding);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--background-color);
    background-color: var(--background-color-2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

.wrapper.settings {
    flex-direction: row;
}

.wrapper.output {
    flex-direction: column;
}

.parameters {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.parameters > .name {
    font-weight: bold;
    font-size: 1.2em;
    width: 30ch;
}

.parameters > .parameter-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 40%), 1fr));
    width: 100%;
    gap: 3ch;
    margin-bottom: 10px;
}

.parameter > .name {
    font-size: 0.8em;
    font-style: italic;
}

.parameter > input {
    width: calc(100% - 2em);
    padding: 0.5em 1em;
    border-radius: 4px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.1em;
}

.output-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 3ch;
    margin-bottom: 2rem;
}

.output-wrapper > div > div > img {
    width: 30rem;
    border-radius: calc(20px - 1rem);
}

.output-wrapper > .table-output {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 10px;
    justify-items: start;
    align-items: start;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: var(--background-color);
}

.output-wrapper > .table-output > div {
    height: 100%;
    width: calc(100% - 2em);
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.output-wrapper > .table-output > div:nth-child(1) {
    border-top-left-radius: 4px;
} 

.output-wrapper > .table-output > div:nth-last-child(2) {
    border-bottom-left-radius: 4px;
} 

.output-wrapper > .table-output > div:nth-child(2n - 1) {
    font-weight: bold;
    background-color: #2e302e;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--background-color);
  }
  100% {
    background-color: var(--background-color-2);
  }
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    filter: brightness(0.8);
}

.skeleton.container {
    border-radius: 4px;
    width: 30rem;
    height: 25rem;
}

@media screen and (max-width: 1200px) {
    .output-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .output-wrapper > .table-output,
    .output-wrapper > div > div > img {
        width: 100%;
    }
}